<h2>Welcome to My App</h2>
<p *ngIf="todos.length > 0; else elseBlock">Your todo list below</p>
<ng-template #elseBlock>
  <p>No todo's yet!</p>
</ng-template>

<div class="row">
  <div class="col-sm-6">
    <div *ngFor="let todo of todos">
      <app-todo-list
        [todo]="todo"
        (onClickDel)="deleteTodo($event)"
        (onClickToggle)="toggleTodo($event)"
      ></app-todo-list>
    </div>
  </div>
  <div class="col-sm-6">
    <app-add-todo (addTodo)="addNewTodo($event)"></app-add-todo>
  </div>
</div>
